@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    background: white;
    padding: 0 20px;
}

nav .logo img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

nav ul li {
    cursor: pointer;
    font-weight: 500;
}

nav button {
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: grey;
    font-weight: 500;
    cursor: pointer;
}